.button {
  border: 1px solid #00c546;
  padding: 0.5em 0.75em;
  font-size: 1em;
  background-color: #00dc4e;
  color: white;
}

.button_mode-alert {
  background-color: #f30000;
  border: 1px solid #ca0000;
}
