.layout {
  width: 1024px;
  margin: 0 auto;
  border: 1px solid #f3f3f3;
  min-height: 100vh;
  background-color: #ffffff;

  &__content {
    padding: 1em;
    padding-bottom: 100px;
  }

  &__footer {
    position: fixed;
    bottom: 0;
    width: 1022px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #f7f7f7;
    border-top: 1px solid #c5c5c5;
  }
}
